services:
  derper:
    image: runyf/derper:v1.70.0
    container_name: derper
    restart: always
    network_mode: host
    volumes:
      - ./certs/:/app/certs
      - /var/run/tailscale/:/var/run/tailscale/
    environment:
      DERP_CERT_MODE: manual
      DERP_ADDR: :4443
      DERP_DOMAIN: runyf.cn
      DERP_VERIFY_CLIENTS: true
